@charset "UTF-8";
/* CSS Document */

/* General */
.fulllink {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}

/* Galleries */
#galleries .gallery-container {width: 19%; margin: 0 auto; padding: 0 2.5%; float: left;}
.gallery-thumb {max-width: 90%; margin: 0 auto; height: 200px; background: #111111; color: #ffffff; background-position: center center; background-repeat: no-repeat; border: 5px solid white; overflow: hidden; background-size: 100% auto;}
#galleries .gallery-thumb .gallery-title {transition: opacity 1s; -webkit-transition: opacity 1s; text-align: center; color: #ffffff; font-size: 1.5em; text-shadow: none; background: #111111; opacity: .8; filter: alpha(opacity=80); padding: 6px 0; display: block; width: 100%; margin-top: 75px; line-height: 1em;}
#galleries .gallery-thumb .gallery-title:hover {text-shadow: none !important; font-weight: normal !important; opacity: .9; filter: alpha(opacity=90);}

/* Images */
#thumbs {width: 90%;}
.thumb-column {float: left;}
.image-thumb {overflow: hidden; padding: 0 10px; text-align: center;}
.image-thumb .image-title {text-transform: uppercase; font-size: .8em;}
.image-thumb .image-desc {display:none;}
.image-thumb img {width: 100%; opacity: .4; filter: alpha(opacity=40);}

#showcase {width: 100%; text-align: center;}
#showcase .image-desc {float:right; width:30%;}
#showcase .image {float:left; width:65%;}
#showcase .image img {max-width:100%; max-height:80%;}
#showcase .prev-image, #showcase .next-image {position:absolute; top:0; height:100%; width:25%; cursor:pointer;}
#showcase .prev-image {left:5px;}
#showcase .prev-image:hover { background: url(../img/prev_btn.png); background-position:left center; background-repeat:no-repeat;}
#showcase .next-image {right:5px;}
#showcase .next-image:hover { background: url(../img/next_btn.png); background-position:right center; background-repeat:no-repeat;}
.image-title h3, #gallery-surround .gallery-title h2 {color: #111; letter-spacing: .2em; text-transform: uppercase; font-size: 1.6em; text-shadow: none;}
.image-title h3 {font-style:italic;}

@media (max-width: 767px) {
	#showcase .image-desc {float:none; width:99%;}
	#showcase .image {float:none; width:99%;}
}